html, body {
  font-family: 'Poppins';
}

main {
  display: flex;
  height: 99vh;
  width: 99vw;
  align-items: center;
  justify-content: center;
}

form {
  width: min(90%, 35em);
}

input {
  padding: 1em;
  border-radius: 0.5em;
  border: 0.5px solid lightgray;
}

button {
  border-radius: 0.5em;
  border: 0.5px solid rgba(156, 50, 50, 0.851);
  background-color: rgba(225, 83, 83, 0.851);
  font-family: 'Poppins';
  color: white;
  padding: 1em;
}